/* Intro Role List */

.intro-brief {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.roles-list {
    width: 100%;
    color: var(--highlight-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}