
/* Small Screens */
@media (width < 500px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav {
        width: 100%;
        background-color: var(--color2-secondary);
    }
    

    .trap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        min-height: 100vh;    
    }
    .intro {
        min-height: 100vh;
        color: var(--color-main);
        padding: 5px;
        display: flex;
        flex-direction: column;
    
    }
    
        .nameis-grid {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            margin-bottom: 20vh;
        }
    .intro-1 {
        grid-area: Greetings;
        font-size: 70pt;
        position: sticky;
        top: 1rem;
        font-size: 50pt;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 5px;
        margin-bottom: 30vh;
    }
    
    .intro-2 {

        grid-area: Introduction;
        font-weight: 900;
        font-size: 30px;
        top: 70%;
        display: flex;
        flex-direction: column;
        padding: 15px;
        font-style: italic;
        position: sticky;
        height: 10vh;
        border: 1px solid var(--color-secondary);
        border-radius: 25px;
        background-color: var(--color2-secondary);
        margin-bottom: 30vh;
    }
    
    .intro-3 {
        grid-area: Name;
        font-weight: bold;
        font-size: 100pt;
        font-family: 'Chakra Petch';
        align-self: end;
        display: flex;
        justify-content: center;
        color: var(--black);
    }


    .intro-brief {
        display: grid;
        justify-content: center;
        align-items: center;
        border: 3px solid;
        height: 200px;
        background-color: var(--color2-secondary);
    }

    .Block-img {
        width: 150px;
    }

    .trap-block3 {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }
    
    .trap-sub-nav {
        z-index: 998;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--color2-secondary);
        border: 3px solid var(--black);
        top: 3.3rem;
        position: sticky;
    }
    
    .imgs-sub-nav {
        width: 20px;
    }
    
    .welcome-2-my {
        padding: 15px;
        display: grid;
    }
    
    .trap-block4 {
        display: flex;
        flex-direction: column;
    }
    .card-logo {
        width: 15%;
        display: flex;
        padding: 5px;
    }

    .card-1 {

    }

    .card-2 {

    }

    .block-inner-body {
        margin-top: 2px;
        background-color: var(--color2-secondary);
    }
    
}

