/*
 * Story styling
 */


/*
 * Trap elements inside "Trap"
 * 
 * @Trap - Parent
 */




.trap-block1 {
    flex: 1;
}


/*intro*/
.intro-1 {
    grid-area: Greetings;
}

.intro-2 {
    grid-area: Introduction;
}

.intro-3 {
    grid-area: name;
    z-index: 1000;
}


/*
 * Block traps
 */
/* Pule */
 .trap-block1 h1 {
}


.trap-block2 {
}

.trap-block2 h1 {
}

.welcome-2-my {
    border: 3px solid var(--black);
}

.trap-block3 {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.Block3 p{
    padding: 5px;
    color: var(--black);
}

.Block-img img {
    display: flex;
    top: 50%;
    position: sticky;
}


.trap-block4 {
    background-color: var(--color2-secondary);
    margin-top: 10vh;
    padding: 5px;
    text-align: center;
}
.trap-block5 h1{
    margin-top: 10vh;
    background-color: var(--color2-secondary);
    text-align: center;
}

.block-inner-body {
    padding: 15px;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;

}

/* LOGO */
.logo-S {
    width: 50px;
    height: 50px;
    background-color: var(--black);
    background-image: url('../imgs/Logos/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;

}


.intro h1 {
    animation: neonPulse 5s infinite alternate;
}

@keyframes neonPulse {
    0% {
      text-shadow: 
        0 0 5px var(--color2-main),
        0 0 10px var(--color2-main),
        0 0 15px var(--color2-main),
        0 0 20px var(--color2-main),
        0 0 35px var(--color2-secondary),
        0 0 40px var(--color2-secondary),
        0 0 50px var(--color2-secondary),
        0 0 75px var(--color2-secondary);
    }

    50% {
      text-shadow: 
        0 0 2px var(--color2-main),
        0 0 5px var(--color2-main),
        0 0 7px var(--color2-main),
        0 0 10px var(--color2-secondary),
        0 0 17px var(--color2-secondary),
        0 0 20px var(--color2-secondary),
        0 0 25px var(--color2-secondary),
        0 0 37px var(--color2-secondary);
    }
    100% {
        text-shadow: 
          0 0 5px var(--color2-main),
          0 0 10px var(--color2-main),
          0 0 15px var(--color2-main),
          0 0 20px var(--color2-main),
          0 0 35px var(--color2-secondary),
          0 0 40px var(--color2-secondary),
          0 0 50px var(--color2-secondary),
          0 0 75px var(--color2-secondary);
      }
}

.intro-1 {
    animation: glitch_sfx 2s infinite alternate;
}

@keyframes glitch_sfx {
    0% {
    text-shadow: 0.05em 0 0 rgba(255,0,0,.75),
    -0.05em -0.025em 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 rgba(0,0,255,.75);
    }
    14% {
    text-shadow: 0.05em 0 0 rgba(255,0,0,.75),
    -0.05em -0.025em 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 rgba(0,0,255,.75);
    }
    15% {
    text-shadow: -0.05em -0.025em 0 rgba(255,0,0,.75),
    0.025em 0.025em 0 rgba(0,255,0,.75),
    -0.05em -0.05em 0 rgba(0,0,255,.75);
    }
    49% {
    text-shadow: -0.05em -0.025em 0 rgba(255,0,0,.75),
    0.025em 0.025em 0 rgba(0,255,0,.75),
    -0.05em -0.05em 0 rgba(0,0,255,.75);
    }
    50% {
    text-shadow: 0.025em 0.05em 0 rgba(255,0,0,.75),
    0.05em 0 0 rgba(0,255,0,.75),
    0 -0.05em 0 rgba(0,0,255,.75);
    }
    99% {
    text-shadow: 0.025em 0.05em 0 rgba(255,0,0,.75),
    0.05em 0 0 rgba(0,255,0,.75),
    0 -0.05em 0 rgba(0,0,255,.75);
    }
    100% {
        text-shadow: -0.025em 0 0 rgba(255,0,0,.75),
                    -0.025em -0.025em 0 rgba(0,255,0,.75),
                    -0.025em -0.05em 0 rgba(0,0,255,.75);
    }
}



.public-repos {
    margin: 15px;
    padding: 5px;
    background-color: var(--white);
    border: 3px inset var(--color2-main);
    border-radius: 25px;
}

.github-contribution-calendar {
    padding: 5px;
    background-color: var(--white);
    border: 3px inset var(--color2-main);
    border-radius: 25px;
}

.github-activity-graph {
    background-color: var(--white);
    border: 3px inset var(--color2-main);
}